@font-face {
  font-family: "Archivo Black";
  src: url("../fonts/ArchivoBlack-Regular.otf");
}
h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

main {
  height: 100%;
  width: 100%;
}

.nav {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 5000;
}
.nav nav {
  width: 130px;
}
.nav nav .wrapper {
  position: relative;
}
.nav nav .wrapper ul {
  width: 100%;
  position: absolute;
  top: 55px;
  right: 10px;
  background-color: #03A9F4;
  border-radius: 5px;
  display: none;
}
.nav nav .wrapper ul li a {
  display: block;
  padding: 8px;
  color: #FFFFFF;
  text-decoration: none;
}
.nav nav .wrapper ul li a:hover {
  background-color: #E91E63;
}
.nav nav .wrapper:hover ul {
  display: block;
}
.nav nav .wrapper button {
  background: #E91E63;
  border: none;
  padding: 5px 8px;
  color: #FFFFFF;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: background-color .3s linear;
}
.nav nav .wrapper button:hover {
  background: #03A9F4;
}

.content {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.content .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 4000;
}
.content .wrapper {
  width: 100%;
  padding-top: 10%;
  color: #03A9F4;
}
.content .wrapper h1 {
  font-size: 3.5em;
}
.content .wrapper p {
  font-size: 1.3em;
}
.content .wrapper .title {
  color: #E91E63;
}
.content .search input {
  display: block;
  width: 100%;
  margin: 30px 10px;
  border: none;
  background-color: #def4ff;
  border-bottom: solid #E91E63;
  padding: 10px;
  font-size: 1.3em;
  border-radius: 8px 8px 8px 8px;
}
.content .search input:focus {
  outline: none;
}
.content .search button {
  padding: 8px 15px;
  font-size: 1.5em;
  background-color: #03A9F4;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  transition: background-color .2s;
  cursor: pointer;
}
.content .search button:hover {
  background-color: #E91E63;
}
.content .search button:focus {
  outline: none;
}

.article-wrapper .content-header {
  height: 300px;
  background-image: url("../images/article-header.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  z-index: 4000;
}
.article-wrapper .fixed {
  position: fixed;
  top: 0;
}
.article-wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 4000;
}
.article-wrapper .meta {
  padding-top: 10%;
  color: #FFFFFF;
}
.article-wrapper .main-content .container {
  display: flex;
}
.article-wrapper .main-content aside {
  height: 100%;
}
.article-wrapper .main-content .sidebar {
  background-color: #e6e6e6;
  padding-top: 25px;
  width: 230px;
}
.article-wrapper .main-content .sidebar ul {
  padding-top: 20px;
}
.article-wrapper .main-content .sidebar li a {
  display: block;
  padding: 5px 16px;
  color: #595959;
  border-bottom: solid 1px #cccccc;
  text-decoration: none;
  font-size: 90%;
}
.article-wrapper .main-content .sidebar li a:hover {
  background-color: #d9d9d9;
}
.article-wrapper .main-content article {
  padding-left: 20px;
}
.article-wrapper .main-content article div {
  margin-bottom: 30px;
}
.article-wrapper .main-content article div h3 {
  font-size: 1.3em;
}
.article-wrapper .main-content article div p {
  font-size: 95%;
}
.article-wrapper .main-content .shift-left {
  padding-left: 260px !important;
}

.articles .wrapper {
  width: 70%;
  margin: auto;
}
.articles .article {
  margin: 35px  0;
}
.articles .article h1 {
  padding: 0;
  margin: 0;
}
.articles .article h1 a {
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
  font-size: .8em;
  padding: 0 !important;
  margin: 0;
  text-decoration: none;
  color: #000;
  transition: color .3s;
}
.articles .article h1 a:hover {
  color: #E91E63;
}
.articles .article .heading .meta {
  padding-top: 20px;
  margin: 0 !important;
  color: grey;
}
.articles .article .btn-outline-primary {
  border-color: #E91E63 !important;
  color: #E91E63;
  text-transform: uppercase;
}
.articles .article .btn-outline-primary:hover {
  background-color: #E91E63;
  color: #fff;
}
.articles .excerpt {
  padding-top: 30px;
  color: lightslategrey;
}
