.navigation, .navbar-default {
  background-color: #03A9F4 !important;
}

.navbar-default {
  height: 40px !important;
  padding: 2px 0;
}
.navbar-default a {
  color: white !important;
}
.navbar-default .dropdown-menu {
  background-color: #03A9F4;
}
.navbar-default .dropdown-menu a:hover {
  background-color: #23b9fc;
}

.big-header {
  background-color: #212121;
  color: #FFFFFF;
}
.big-header small {
  color: #757575;
}
.big-header .btn-primary {
  background-color: #03A9F4;
  border-radius: 0;
  border-color: #03A9F4;
}
.big-header .btn-primary:focus {
  box-shadow: none;
}

.card-header {
  background-color: #03A9F4;
  color: #ffff;
  padding: 7px;
}

.overview .item {
  background-color: #e5e5e5;
  padding: 35px 15px;
}

.list-group .active {
  background-color: #03A9F4;
  border: #03A9F4;
}

.article-form .alert p, .create-article .alert p {
  margin: 0 !important;
}
.article-form label, .create-article label {
  font-weight: bold;
  color: #5a5a5a;
}
.article-form .btn-primary, .create-article .btn-primary {
  background-color: #03A9F4;
  border-radius: 0;
  border-color: #03A9F4;
}
.article-form .nxt-btn, .create-article .nxt-btn {
  padding-left: 30px;
  padding-right: 30px;
}
.article-form .upload-pane, .create-article .upload-pane {
  border: solid 1px #e5e5e5;
  padding: 10px;
  margin: 10px 0;
}
.article-form .upload-pane input[type='file'], .create-article .upload-pane input[type='file'] {
  display: none;
}
.article-form .media-files .add-media, .create-article .media-files .add-media {
  position: relative;
}
.article-form .media-files .add-media button, .create-article .media-files .add-media button {
  background: #BDBDBD;
  padding: 20px 30px;
  border: dashed 1px gray;
  color: gray;
}
.article-form .media-files .uploaded-media, .create-article .media-files .uploaded-media {
  width: 200px;
  margin: 5px;
  position: relative;
}
.article-form .media-files .uploaded-media .close-btn, .create-article .media-files .uploaded-media .close-btn {
  position: absolute;
  top: -2px;
  right: -3px;
  padding: 1px 2px;
  background-color: red;
  border-radius: 40% 50%;
  color: white;
  cursor: pointer;
}
.article-form .media-files .uploaded-media .img-description, .create-article .media-files .uploaded-media .img-description {
  font-size: 12px;
  width: 100%;
  padding: 1px 5px;
  border: solid 1px lightblue;
  border-radius: 1px;
}

.create-article, .user-articles, .article-form {
  margin-bottom: 150px;
  font-size: 100%;
}
.create-article .inner-wrapper, .user-articles .inner-wrapper, .article-form .inner-wrapper {
  padding: 0 !important;
}
.create-article .inner-wrapper h3, .user-articles .inner-wrapper h3, .article-form .inner-wrapper h3 {
  font-family: "Archivo Black", sans-serif;
}
.create-article .inner-wrapper .upload-pane, .create-article .inner-wrapper #upload-pane, .user-articles .inner-wrapper .upload-pane, .user-articles .inner-wrapper #upload-pane, .article-form .inner-wrapper .upload-pane, .article-form .inner-wrapper #upload-pane {
  border: solid 1px #e5e5e5;
  padding: 10px;
  margin: 10px 0;
}
.create-article .inner-wrapper .upload-pane input[type='file'], .create-article .inner-wrapper #upload-pane input[type='file'], .user-articles .inner-wrapper .upload-pane input[type='file'], .user-articles .inner-wrapper #upload-pane input[type='file'], .article-form .inner-wrapper .upload-pane input[type='file'], .article-form .inner-wrapper #upload-pane input[type='file'] {
  display: none !important;
}
.create-article .inner-wrapper .media-files .add-media, .user-articles .inner-wrapper .media-files .add-media, .article-form .inner-wrapper .media-files .add-media {
  position: relative;
}
.create-article .inner-wrapper .media-files .add-media button, .user-articles .inner-wrapper .media-files .add-media button, .article-form .inner-wrapper .media-files .add-media button {
  background: #BDBDBD;
  padding: 20px 30px;
  border: dashed 1px gray;
  color: gray;
}
.create-article .inner-wrapper .media-files .uploaded-media, .user-articles .inner-wrapper .media-files .uploaded-media, .article-form .inner-wrapper .media-files .uploaded-media {
  width: 200px;
  margin: 5px;
  position: relative;
}
.create-article .inner-wrapper .media-files .uploaded-media .close-btn, .user-articles .inner-wrapper .media-files .uploaded-media .close-btn, .article-form .inner-wrapper .media-files .uploaded-media .close-btn {
  position: absolute;
  top: -2px;
  right: -3px;
  padding: 1px 2px;
  background-color: red;
  border-radius: 40% 50%;
  color: white;
  cursor: pointer;
}
.create-article .inner-wrapper .media-files .uploaded-media .img-description, .user-articles .inner-wrapper .media-files .uploaded-media .img-description, .article-form .inner-wrapper .media-files .uploaded-media .img-description {
  font-size: 12px;
  width: 100%;
  padding: 1px 5px;
  border: solid 1px lightblue;
  border-radius: 1px;
}

.form-wrapper .form {
  -webkit-box-shadow: 0 0 2px grey;
  -moz-box-shadow: 0 0 2px grey;
  box-shadow: 0 0 2px grey;
  padding: 20px;
}
.form-wrapper .form .btn {
  background-color: #03A9F4;
  border-radius: 0;
  padding: 7px 25px;
  border-color: #03A9F4;
}

footer {
  padding: 20px 10px;
  background: #012f44;
  color: #FFFFFF;
}
footer a {
  color: #FFFFFF;
}

@media (max-width: 576px) {
  .navbar-default {
    height: auto !important;
    padding: 15px;
  }
  .navbar-default a {
    color: white !important;
  }
  .navbar-default .dropdown-menu {
    background-color: #03A9F4;
  }
  .navbar-default .dropdown-menu a:hover {
    background-color: #23b9fc;
  }
}

/*# sourceMappingURL=admin.css.map */
