body {
  background-color: #f4f4f4;
  overflow-x: hidden;
}

@font-face {
  font-family: "Archivo Black";
  src: url("../fonts/ArchivoBlack-Regular.otf");
}
h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

main {
  height: 100%;
  width: 100%;
}

header {
  background: #E91E63;
  color: #FFFFFF;
  box-shadow: 0 0 5px grey;
  z-index: 3000;
  position: fixed;
  width: 100%;
}
header .logo h1 {
  font-size: 1.5em;
  line-height: 40px;
}

.form-wrapper .form {
  box-shadow: 0 0 2px #60ccfd;
  margin-top: 20%;
}
.form-wrapper .form .header {
  background-color: #03A9F4;
  padding: 15px;
}
.form-wrapper .form .header p {
  font-weight: bold;
  font-size: 1.3em;
  color: white;
}
.form-wrapper .form .body {
  padding: 25px;
}

.sidebar {
  background-color: #ffffff;
  width: 230px;
  height: 100%;
  position: fixed;
  box-shadow: 0 0 5px grey;
}
.sidebar .links {
  margin-top: 100px;
}
.sidebar .links .active {
  background-color: #E91E63;
  box-shadow: 0 0 3px grey;
  color: white;
}
.sidebar .links li {
  border-bottom: solid 1px #e6e6e6;
}
.sidebar .links a {
  padding: 10px 10px;
  display: block;
  text-decoration: none;
  color: #666666;
  transition: background-color .3s;
}
.sidebar .links a:hover {
  background-color: #BDBDBD;
  color: #ffffff;
}
.sidebar .links span {
  margin-right: 20px;
}

main {
  padding-left: 235px;
  padding-top: 55px;
  min-height: 100%;
  max-width: 100%;
}
main .content {
  background-color: white;
  min-height: 100%;
  margin: 0px 25px;
  margin-top: 5px;
  box-shadow: 0 0 3px grey;
}
main .page-header {
  background-color: #03A9F4;
  color: white;
  padding: 10px;
}

.article-form {
  margin: 50px;
}
.article-form .btn-primary {
  background-color: #03A9F4;
  border-radius: 0;
  border-color: #03A9F4;
}
.article-form .nxt-btn {
  padding-left: 30px;
  padding-right: 30px;
}
.article-form .upload-pane {
  border: solid 1px #e5e5e5;
  padding: 10px;
  margin: 10px 0;
}
.article-form .upload-pane input[type='file'] {
  display: none;
}
.article-form .media-files .add-media {
  position: relative;
}
.article-form .media-files .add-media button {
  background: #BDBDBD;
  padding: 20px 30px;
  border: dashed 1px gray;
  color: gray;
}
.article-form .media-files .uploaded-media {
  width: 200px;
  margin: 5px;
  position: relative;
}
.article-form .media-files .uploaded-media .close-btn {
  position: absolute;
  top: -2px;
  right: -3px;
  padding: 1px 2px;
  background-color: red;
  border-radius: 40% 50%;
  color: white;
  cursor: pointer;
}
.article-form .media-files .uploaded-media .img-description {
  font-size: 12px;
  width: 100%;
  padding: 1px 5px;
  border: solid 1px lightblue;
  border-radius: 1px;
}
