.def-text {
  color: #03A9F4;
  cursor: pointer;
}
.def-text:hover {
  border-bottom: solid 1px;
}

.balloon-wrapper {
  position: absolute;
  top: 100px;
  font-size: 90%;
  background-color: transparent;
  z-index: 40000;
}
.balloon-wrapper:hover {
  display: block;
}

.baloon {
  width: 250px;
  background-color: white;
  min-height: 50px;
  box-shadow: 0 0 3px black;
  font-family: sans-serif;
  padding: 10px;
  font-size: 80%;
}
.baloon:hover {
  display: block;
}
.baloon:after {
  content: " ";
  border: solid 15px;
  width: 0px;
  position: absolute;
  left: 90px;
  top: -30px;
  border-color: transparent transparent black transparent;
  border-bottom: solid 15px;
}
.baloon:after:hover {
  display: block;
}
.baloon:before {
  content: " ";
  border: solid 15px;
  width: 0px;
  position: absolute;
  left: 90px;
  top: -29px;
  z-index: 20;
  border-color: transparent transparent white transparent;
  border-bottom: solid 15px white;
}
.baloon:before:hover {
  display: block;
}
.baloon .link-view .header {
  overflow: hidden;
}
.baloon .link-view .header .title {
  float: left;
  font-size: 1.4em !important;
}
.baloon .link-view .link-item {
  border-top: solid 1px #e5e5e5;
  padding: 5px 0px;
}
.baloon .link-view .link-item h4, .baloon .link-view .link-item p {
  margin: 5px;
  font-size: 140%;
}
.baloon .link-view .link-item a {
  text-decoration: none;
}
.baloon .link-view .link-item p {
  color: #9c9c9c;
  font-size: 100%;
}

.socials {
  position: fixed;
  top: 30%;
  right: 0;
  box-shadow: 0 0 2px grey;
  padding: 5px;
}
.socials ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.socials ul li:hover {
  transition: 200ms;
  transform: scale(1.05);
}
.socials ul .facebook a {
  color: #3B5998;
}
.socials ul .twitter a {
  color: #1DA1F2;
}
.socials ul .gplus a {
  color: #CC3333;
}
.socials ul a {
  text-decoration: none;
}
.socials ul a .fa {
  font-size: 3em;
}
@media (max-width: 576px) {
  .socials {
    top: unset;
    bottom: 0 !important;
    width: 100%;
    padding: 5px 8px;
  }
  .socials ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=article.css.map */
