.editor-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.2);
  top: 0;
  left: 0;
  z-index: 500;
  display: table;
}
.editor-modal > div {
  display: table-cell;
  vertical-align: middle;
}
.editor-modal .c-modal-content {
  background-color: white;
  width: 400px !important;
  min-height: 300px;
  margin: auto;
  border: solid lightgrey 2px;
  box-shadow: 0 0 1px black;
  position: relative;
}
.editor-modal .c-modal-content .footer {
  background-color: #f3f3f3;
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 8px;
}
.editor-modal .c-modal-content .footer button {
  border-radius: 2px;
  border: solid 3px #d9d9d9;
  outline: none;
  padding: 2px 15px;
  cursor: pointer;
}
.editor-modal .c-modal-content .header {
  overflow: hidden;
  font-weight: bold;
  padding: 8px 0;
  background-color: #d9d9d9;
  box-shadow: 0 1px 1px -2px black;
  text-align: center;
}
.editor-modal .c-modal-content .header p {
  margin: 0;
  padding: 0;
}
.editor-modal .c-modal-content .body {
  max-height: 350px;
  min-height: 200px;
  overflow-y: scroll;
}
.editor-modal .c-modal-content .tabs-btn {
  background: #f7f7f7;
  padding: 8px 3px 0 3px;
  display: flex;
  align-items: stretch;
  width: 100%;
}
.editor-modal .c-modal-content .tabs-btn button {
  padding: 8px;
  border: none;
  background-color: transparent;
  outline: none;
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  display: block;
  flex: 1;
}
.editor-modal .c-modal-content .tabs-btn .active {
  background-color: white;
  border: solid 1px #b6b6b6;
  border-bottom: none;
}
.editor-modal .c-modal-content .tabs #search-tab .search-box {
  padding: 10px 5px;
}
.editor-modal .c-modal-content .tabs #search-tab .search-box input {
  width: 100%;
  padding: 3px;
  border-radius: 5px;
  outline: none;
  border: solid 1px #ccc;
  font-size: 14px;
  color: #272727;
}
.editor-modal .c-modal-content .tabs #search-tab .search-result {
  overflow-y: scroll;
  height: 200px;
}
.editor-modal .c-modal-content .tabs #search-tab .search-result * {
  text-align: left;
}
.editor-modal .c-modal-content .tabs #search-tab .search-result p {
  padding: 5px;
  margin: 0;
  border-top: solid 1px #eeeeee;
}
.editor-modal .c-modal-content .tabs #search-tab .search-result span {
  background: #e5e5e5;
  padding: 5px;
}
.editor-modal .c-modal-content .tabs #search-tab .search-result a {
  text-decoration: none;
}
.editor-modal .c-modal-content .tabs #external-tab {
  display: none;
}
.editor-modal .c-modal-content .tabs #external-tab label {
  font-size: 12px;
}
.editor-modal .c-modal-content .tabs #external-tab .link-box {
  padding: 10px 10px;
  text-align: left;
}
.editor-modal .c-modal-content .tabs #external-tab .link-box input {
  width: 100%;
  padding: 3px;
  border-radius: 5px;
  outline: none;
  border: solid 1px #ccc;
  font-size: 14px;
  color: #272727;
}
.editor-modal .c-modal-content .tabs #definition-tab {
  display: none;
  padding: 10px 10px;
  text-align: left;
}
.editor-modal .c-modal-content .tabs #definition-tab textarea {
  display: block;
  outline: none;
  width: 100%;
  resize: none;
  border-radius: 5px;
  border: solid 1px #cccccc;
}
.editor-modal .c-modal-content .tabs #definition-tab label {
  font-size: .8em;
  color: #595959;
}
.editor-modal .c-modal-content #manual-tab {
  padding: 25px 8px 10px 8px;
}
.editor-modal .c-modal-content #manual-tab .mt-row {
  display: flex;
  justify-content: stretch;
}
.editor-modal .c-modal-content #manual-tab .mt-row .col {
  flex: 1;
}
.editor-modal .c-modal-content #manual-tab .mt-row .col button {
  display: block;
  margin: 10px 0;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.editor-modal .c-modal-content #manual-tab .mt-row .col button span {
  font-weight: 600;
}
.editor-modal .c-modal-content #manual-tab .web-pane,
.editor-modal .c-modal-content #manual-tab .book-pane,
.editor-modal .c-modal-content #manual-tab .news-pane,
.editor-modal .c-modal-content #manual-tab .journal-pane {
  display: none;
  padding-bottom: 45px;
}
.editor-modal .c-modal-content #automatic-tab {
  padding: 10px;
  text-align: left;
  display: none;
}
.editor-modal .c-modal-content #automatic-tab label {
  font-size: 14px;
}
.editor-modal .c-modal-content #automatic-tab input {
  width: 100%;
  padding: 3px;
  border-radius: 5px;
  outline: none;
  border: solid 1px #ccc;
  font-size: 14px;
  color: #272727;
  border: solid 1px #9a9a9a;
  border-radius: 3px 0 0 3px;
  border-right: none;
}
.editor-modal .c-modal-content #automatic-tab input:focus {
  border: solid 2px skyblue;
}
.editor-modal .c-modal-content #automatic-tab .auto-tab-input {
  display: flex;
}
.editor-modal .c-modal-content #automatic-tab .auto-tab-input button {
  border: solid 1px #9a9a9a;
  background: white;
  outline: none;
  font-weight: 500;
  border-radius: 0 3px   3px 0;
  padding: 5px;
}
.editor-modal .c-modal-content #reuse-tab {
  display: none;
}

.editor-wrapper {
  font-size: 100%;
  width: 100%;
  margin: auto;
  position: relative;
  overflow-x: hidden;
}
.editor-wrapper .text-wrapper {
  overflow-y: scroll;
  position: relative;
  width: 100%;
  height: 100%;
}
.editor-wrapper .editor {
  border: solid #e5e5e5 1px;
  height: 200px;
  display: block;
  cursor: text;
  position: relative;
  overflow: hidden;
}
.editor-wrapper .editor .action-bar {
  border-bottom: solid #dcdcdc 1px;
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 20;
}
.editor-wrapper .editor .action-bar button {
  padding: 5px 10px;
  background: none;
  border: none;
  border-right: solid 1px rgba(229, 229, 229, 0.8);
  cursor: pointer;
  transition: background-color .3s;
  margin: 0 !important;
}
.editor-wrapper .editor .action-bar button:hover {
  background-color: #e5e5e5;
}
.editor-wrapper .editor .def-text {
  color: #03A9F4;
}
.editor-wrapper .editor .def-text:hover {
  border-bottom: solid 1px;
}
.editor-wrapper .editor .text-area {
  position: relative;
  outline: none;
  min-width: 1%;
  min-height: 200px;
  padding: 8px;
  font-family: sans-serif;
  color: #3c3f41;
  padding-top: 40px;
  background-color: white;
}

.balloon-wrapper {
  position: absolute;
  top: 100px;
  font-size: 90%;
}

.baloon {
  width: 350px;
  background-color: white;
  min-height: 50px;
  box-shadow: 0 0 3px black;
  font-family: sans-serif;
  padding: 10px;
  font-size: 80%;
}
.baloon:after {
  content: " ";
  border: solid 15px;
  width: 0px;
  position: absolute;
  left: 120px;
  top: -30px;
  border-color: transparent transparent black transparent;
  border-bottom: solid 15px;
}
.baloon:before {
  content: " ";
  border: solid 15px;
  width: 0px;
  position: absolute;
  left: 120px;
  top: -29px;
  z-index: 20;
  border-color: transparent transparent white transparent;
  border-bottom: solid 15px white;
}
.baloon .link-view .header {
  overflow: hidden;
}
.baloon .link-view .header .title {
  float: left;
  font-size: 1.5em !important;
}
.baloon .link-view .header .buttons {
  float: right;
}
.baloon .link-view .header .buttons button {
  background: white;
  border: solid 1px #bfbfbf;
  padding: 8px 15px;
  font-size: 1em;
  margin: 0;
  cursor: pointer;
}
.baloon .link-view .header .buttons button:hover {
  background-color: #e5e5e5;
}
.baloon .link-view .header .buttons button:first-child {
  border-right: none;
  margin-top: 0px;
}
.baloon .link-view .header .buttons button span {
  font-size: 1em;
  padding: 0 !important;
  margin: 0 !important;
  color: red;
}
.baloon .link-view .link-item {
  border-bottom: solid 1px #e5e5e5;
  border-top: solid 1px #e5e5e5;
  padding: 5px 0px;
}
.baloon .link-view .link-item h4, .baloon .link-view .link-item p {
  margin: 5px;
  font-size: 160%;
}
.baloon .link-view .link-item a {
  text-decoration: none;
}
.baloon .link-view .link-item p {
  color: #9c9c9c;
  font-size: 110%;
}

/*# sourceMappingURL=editor.css.map */
