

$primary-color-dark:   #C2185B;
$primary-color:        #E91E63;
$primary-color-light:  #F8BBD0;
$primary-color-text:   #FFFFFF;
$accent-color:         #03A9F4;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


@mixin  overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.7);
  z-index: 4000;
}


@font-face {
  font-family: "Archivo Black";
  src: url("../fonts/ArchivoBlack-Regular.otf");
}

h1,h2,h3,h4,h5,h6,p{
  padding: 0;
  margin: 0;
}

body,html{
  width: 100%;
  height: 100%;
}

main{
  height: 100%;
  width: 100%;
}
.nav{
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 5000;

  nav{
    width: 130px;
    .wrapper{
      position: relative;

      ul{
        width: 100%;
        position: absolute;
        top: 55px;
        right: 10px;
        background-color: $accent-color;
        border-radius: 5px;
        display: none;

        li a{
          display: block;
          padding: 8px;
          color: $primary-color-text;
          text-decoration: none;
          &:hover{
            background-color: $primary-color;
          }
        }
      }
      &:hover ul{
        display: block;
      }

      button{
        background: $primary-color;
        border: none;
        padding: 5px 8px;
        color: $primary-color-text;
        position: absolute;
        right: 10px;
        top: 10px;
        transition: background-color .3s linear;

        &:hover{
          background: $accent-color;
        }
      }
    }
  }
}

.content{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;

  .overlay{
    @include overlay;
  }

  .wrapper{
    width: 100%;
    padding-top:10%;
    color: $accent-color;

    h1{
      font-size: 3.5em;
    }

    p{
      font-size: 1.3em;
    }

    .title{
      color: $primary-color;
    }

  }

  .search{
    input{
      display: block;
      width: 100%;
      margin: 30px 10px;
      border: none;
      background-color: lighten($accent-color,45);
      border-bottom: solid $primary-color;
      padding: 10px;
      font-size: 1.3em;
      border-radius: 8px 8px 8px 8px;
    &:focus{
      outline: none;
    }

    }

    button{
      padding: 8px 15px;
      font-size: 1.5em;
      background-color: $accent-color;
      color: $primary-color-text;
      border: none;
      border-radius: 5px;
      transition: background-color .2s;
      cursor: pointer;
      &:hover{
        background-color: $primary-color;
      }
      &:focus{
        outline: none;
      }

    }
  }
}

.article-wrapper{
  .content-header{
    height: 300px;
    background-image: url("../images/article-header.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    z-index: 4000;
  }

  .fixed{
    position: fixed;
    top: 0;
  }


  .overlay{
    @include overlay;
  }
  .meta{
    padding-top: 10%;
    color: $primary-color-text;
  }
  .main-content{
    .container{
      display: flex;
    }
    aside{
      height: 100%;
    }


    .sidebar{
      background-color:  #e6e6e6;
      padding-top: 25px;
      width: 230px;
      ul{
        padding-top: 20px;
      }

     li a{
       display: block;
       padding: 5px 16px;
       color: #595959;
       border-bottom: solid 1px #cccccc;
       text-decoration: none;
       font-size: 90%;
       &:hover{
         background-color: #d9d9d9;
       }
     }
    }
    article {
        padding-left: 20px;
    div{
        margin-bottom: 30px;
        h3{
          font-size: 1.3em;
        }

      p{
        font-size: 95%;
      }
      }
    }

    .shift-left{
      padding-left: 260px !important;
    }

  }
}

.articles{
  .wrapper{
    width: 70%;
    margin: auto;
  }

  .article{
    margin: 35px  0;
    h1{
      padding: 0;
      margin: 0;
    a{
      font-family: "Archivo Black", sans-serif;
      font-weight: bold;
      font-size: .8em;
      padding: 0 !important;
      margin: 0;
      text-decoration: none;
      color: #000;
      transition: color .3s;

      &:hover{
        color: $primary-color;
      }
    }
    }

    .heading{
      .meta{
        padding-top: 20px;
        margin: 0 !important;
        color: grey;
      }
    }

    .btn-outline-primary{
      border-color: $primary-color !important;
      color: $primary-color;
      text-transform: uppercase;

      &:hover{
        background-color: $primary-color;
        color: #fff;
      }

    }
  }

  .excerpt{
    padding-top: 30px;
    color: lightslategrey;
  }
}