.editor-wrapper {
  font-size: 100%;
  width: 100%;
  margin: auto;
  position: relative;
  overflow-x: hidden;
}
.editor-wrapper .text-wrapper {
  overflow-y: scroll;
  position: relative;
  width: 100%;
  height: 100%;
}
.editor-wrapper .editor {
  border: solid #e5e5e5 1px;
  height: 200px;
  display: block;
  cursor: text;
  position: relative;
  overflow: hidden;
}
.editor-wrapper .editor .action-bar {
  border-bottom: solid #dcdcdc 1px;
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 20;
}
.editor-wrapper .editor .action-bar button {
  padding: 5px 10px;
  background: none;
  border: none;
  border-right: solid 1px rgba(229, 229, 229, 0.8);
  cursor: pointer;
  transition: background-color .3s;
  margin: 0 !important;
}
.editor-wrapper .editor .action-bar button:hover {
  background-color: #e5e5e5;
}
.editor-wrapper .editor .def-text {
  color: #03A9F4;
}
.editor-wrapper .editor .def-text:hover {
  border-bottom: solid 1px;
}
.editor-wrapper .editor .text-area {
  position: relative;
  outline: none;
  min-width: 1%;
  min-height: 200px;
  padding: 8px;
  font-family: sans-serif;
  color: #3c3f41;
  padding-top: 40px;
  background-color: white;
}

.balloon-wrapper {
  position: absolute;
  top: 100px;
  display: none;
  font-size: 90%;
}

.baloon {
  width: 350px;
  background-color: white;
  min-height: 50px;
  box-shadow: 0 0 3px black;
  font-family: sans-serif;
  padding: 10px;
  font-size: 80%;
}
.baloon:after {
  content: " ";
  border: solid 15px;
  width: 0px;
  position: absolute;
  left: 120px;
  top: -30px;
  border-color: transparent transparent black transparent;
  border-bottom: solid 15px;
}
.baloon:before {
  content: " ";
  border: solid 15px;
  width: 0px;
  position: absolute;
  left: 120px;
  top: -29px;
  z-index: 20;
  border-color: transparent transparent white transparent;
  border-bottom: solid 15px white;
}
.baloon .link-view .header {
  overflow: hidden;
}
.baloon .link-view .header .title {
  float: left;
  font-size: 1.5em !important;
}
.baloon .link-view .header .buttons {
  float: right;
}
.baloon .link-view .header .buttons button {
  background: white;
  border: solid 1px #bfbfbf;
  padding: 8px 15px;
  font-size: 1em;
  margin: 0;
  cursor: pointer;
}
.baloon .link-view .header .buttons button:hover {
  background-color: #e5e5e5;
}
.baloon .link-view .header .buttons button:first-child {
  border-right: none;
  margin-top: 0px;
}
.baloon .link-view .header .buttons button span {
  font-size: 1em;
  padding: 0 !important;
  margin: 0 !important;
  color: red;
}
.baloon .link-view .link-item {
  border-bottom: solid 1px #e5e5e5;
  border-top: solid 1px #e5e5e5;
  padding: 5px 0px;
}
.baloon .link-view .link-item h4, .baloon .link-view .link-item p {
  margin: 5px;
  font-size: 160%;
}
.baloon .link-view .link-item a {
  text-decoration: none;
}
.baloon .link-view .link-item p {
  color: #9c9c9c;
  font-size: 110%;
}
.baloon .link-edit {
  display: none;
}
.baloon .link-edit .header {
  overflow: hidden;
  font-weight: bold;
}
.baloon .link-edit .header div {
  float: left;
}
.baloon .link-edit .header .center {
  width: 38%;
  text-align: center;
}
.baloon .link-edit .header .center p {
  margin: 0px;
}
.baloon .link-edit .header button {
  padding: 8px 25px;
  margin: 2px 8px;
  background: white;
  border: solid 1px #e5e5e5;
  font-weight: bold;
}
.baloon .link-edit .body .tabs-btn {
  background: #e5e5e5;
  padding: 8px 8px 0 8px;
}
.baloon .link-edit .body .tabs-btn button {
  padding: 8px;
  border: none;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
}
.baloon .link-edit .body .tabs-btn .active {
  background-color: white;
  border: solid 1px #b6b6b6;
  border-bottom: none;
}
.baloon .link-edit .body .tabs #search-tab .search-box {
  padding: 10px 0;
}
.baloon .link-edit .body .tabs #search-tab .search-box input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: solid 2px #ccc;
}
.baloon .link-edit .body .tabs #search-tab .search-result p {
  padding: 5px;
  margin: 0;
  border-top: solid 1px #eeeeee;
}
.baloon .link-edit .body .tabs #search-tab .search-result span {
  background: #e5e5e5;
  padding: 5px;
}
.baloon .link-edit .body .tabs #search-tab .search-result a {
  text-decoration: none;
}
.baloon .link-edit .body .tabs #external-tab {
  display: none;
}
.baloon .link-edit .body .tabs #external-tab .link-box {
  padding: 10px 0;
}
.baloon .link-edit .body .tabs #external-tab .link-box input {
  width: 95%;
  padding: 5px;
  border-radius: 5px;
  border: solid 2px #ccc;
}
.baloon .link-edit .body .tabs #definition-tab {
  display: none;
}
.baloon .link-edit .body .tabs #definition-tab textarea {
  display: block;
  width: 100%;
  resize: none;
  border-radius: 5px;
  border: solid 1px #cccccc;
}
.baloon .link-edit .body .tabs #definition-tab label {
  font-size: .8em;
  color: #595959;
}
