body {
  background-color: #f4f4f4;
}

@font-face {
  font-family: "Archivo Black";
  src: url("../fonts/ArchivoBlack-Regular.otf");
}
h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

body, html {
  width: 100%;
  min-height: 100%;
}

main {
  min-height: 100%;
  width: 100%;
}

header {
  background: #E91E63;
  color: #FFFFFF;
  padding: 20px 0;
}
header ul li {
  float: left;
}
header ul li a {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
}
header ul li a:hover {
  text-decoration: none;
}

.subheader {
  background: #e6e6e6;
}
.subheader .sub-wrapper {
  overflow: hidden;
  padding: 25px 5px;
}
.subheader .sub-wrapper .text {
  float: left;
  color: slategrey;
}
.subheader .sub-wrapper .search {
  float: right;
  width: 30%;
}
.subheader .sub-wrapper .search input {
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: 5px  5px;
  padding: 5px;
  padding-left: 33px;
  border-radius: 15px;
  width: 100%;
  border: solid darkgrey 1px;
  color: grey;
  font-size: .9em;
}
.subheader .sub-wrapper .search input:focus {
  outline: none;
}

.nav {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 5000;
}
.nav nav {
  width: 130px;
}
.nav nav .wrapper {
  position: relative;
}
.nav nav .wrapper ul {
  width: 100%;
  position: absolute;
  top: 55px;
  right: 10px;
  background-color: #03A9F4;
  border-radius: 5px;
  display: none;
}
.nav nav .wrapper ul li a {
  display: block;
  padding: 8px;
  color: #FFFFFF;
  text-decoration: none;
}
.nav nav .wrapper ul li a:hover {
  background-color: #E91E63;
}
.nav nav .wrapper:hover ul {
  display: block;
}
.nav nav .wrapper button {
  background: #E91E63;
  border: none;
  padding: 5px 8px;
  color: #FFFFFF;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: background-color .3s linear;
}
.nav nav .wrapper button:hover {
  background: #03A9F4;
}

.content {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.content .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 4000;
}
.content .wrapper {
  width: 100%;
  padding-top: 10%;
  color: #03A9F4;
}
.content .wrapper h1 {
  font-size: 3.5em;
}
.content .wrapper p {
  font-size: 1.3em;
}
.content .wrapper .title {
  color: #E91E63;
}
.content .search input {
  display: block;
  width: 100%;
  margin: 30px 10px;
  border: none;
  background-color: #def4ff;
  border-bottom: solid #E91E63;
  padding: 10px;
  font-size: 1.3em;
  border-radius: 8px 8px 8px 8px;
}
.content .search input:focus {
  outline: none;
}
.content .search button {
  padding: 8px 15px;
  font-size: 1.5em;
  background-color: #03A9F4;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  transition: background-color .2s;
  cursor: pointer;
}
.content .search button:hover {
  background-color: #E91E63;
}
.content .search button:focus {
  outline: none;
}

.main-content .container {
  display: flex;
}
.main-content aside {
  height: 100%;
}
.main-content .sidebar {
  background-color: #e6e6e6;
  padding-top: 25px;
  width: 230px;
  border-top: solid white;
}
.main-content .sidebar ul {
  padding-top: 20px;
}
.main-content .sidebar li a {
  display: block;
  padding: 5px 16px;
  color: #595959;
  border-bottom: solid 1px #cccccc;
  text-decoration: none;
  font-size: 90%;
}
.main-content .sidebar li a:hover {
  background-color: #d9d9d9;
}
.main-content article {
  padding-left: 20px;
}
.main-content article div {
  margin-bottom: 30px;
}
.main-content article div h3 {
  font-size: 1.3em;
}
.main-content article div p {
  font-size: 95%;
}
.main-content .shift-left {
  padding-left: 260px !important;
}
.main-content .fixed {
  position: fixed;
  top: 0;
}

.articles .inner-wrapper {
  width: 70%;
  margin: auto;
}
.articles .article {
  margin: 35px  0;
}
.articles .article h1 {
  padding: 0;
  margin: 0;
}
.articles .article h1 a {
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
  font-size: .8em;
  padding: 0 !important;
  margin: 0;
  text-decoration: none;
  color: #000;
  transition: color .3s;
}
.articles .article h1 a:hover {
  color: #E91E63;
}
.articles .article .heading .meta {
  padding-top: 20px;
  margin: 0 !important;
  color: grey;
}
.articles .article .btn-outline-primary {
  border-color: #E91E63 !important;
  color: #E91E63;
  text-transform: uppercase;
}
.articles .article .btn-outline-primary:hover {
  background-color: #E91E63;
  color: #fff;
}
.articles .excerpt {
  padding-top: 30px;
  color: lightslategrey;
}

.create-article, .user-articles {
  font-size: 100%;
}
.create-article .inner-wrapper, .user-articles .inner-wrapper {
  padding: 0 !important;
  width: 70%;
  margin: 10px auto !important;
  color: black;
}
.create-article .inner-wrapper h3, .user-articles .inner-wrapper h3 {
  font-family: "Archivo Black", sans-serif;
}
.create-article .inner-wrapper .upload-pane, .create-article .inner-wrapper #upload-pane, .user-articles .inner-wrapper .upload-pane, .user-articles .inner-wrapper #upload-pane {
  border: solid 1px #e5e5e5;
  padding: 10px;
  margin: 10px 0;
}
.create-article .inner-wrapper .upload-pane input[type='file'], .create-article .inner-wrapper #upload-pane input[type='file'], .user-articles .inner-wrapper .upload-pane input[type='file'], .user-articles .inner-wrapper #upload-pane input[type='file'] {
  display: none !important;
}
.create-article .inner-wrapper .media-files .add-media, .user-articles .inner-wrapper .media-files .add-media {
  position: relative;
}
.create-article .inner-wrapper .media-files .add-media button, .user-articles .inner-wrapper .media-files .add-media button {
  background: #BDBDBD;
  padding: 20px 30px;
  border: dashed 1px gray;
  color: gray;
}
.create-article .inner-wrapper .media-files .uploaded-media, .user-articles .inner-wrapper .media-files .uploaded-media {
  width: 200px;
  margin: 5px;
  position: relative;
}
.create-article .inner-wrapper .media-files .uploaded-media .close-btn, .user-articles .inner-wrapper .media-files .uploaded-media .close-btn {
  position: absolute;
  top: -2px;
  right: -3px;
  padding: 1px 2px;
  background-color: red;
  border-radius: 40% 50%;
  color: white;
  cursor: pointer;
}
.create-article .inner-wrapper .media-files .uploaded-media .img-description, .user-articles .inner-wrapper .media-files .uploaded-media .img-description {
  font-size: 12px;
  width: 100%;
  padding: 1px 5px;
  border: solid 1px lightblue;
  border-radius: 1px;
}

.user-articles .articles {
  background-color: white;
}
.user-articles .articles .article {
  padding: 18px 15px;
  background-color: #f0f0f0;
  margin: 8px 0;
  border-bottom: solid 8px #03A9F4;
  box-sizing: border-box;
  box-shadow: 0 0 8px #cdcdcd;
}
.user-articles .articles .article p {
  font-size: 1.1em;
  color: #4d4d4d;
}
.user-articles .articles .article .actions {
  display: flex;
}

.form-wrapper {
  width: 80%;
  margin: auto;
}
