$primary-color-dark:   #C2185B;
$primary-color:        #E91E63;
$primary-color-light:  #F8BBD0;
$primary-color-text:   #FFFFFF;
$accent-color:         #03A9F4;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

.navigation,.navbar-default{
  background-color: $accent-color !important;
}

.navbar-default{
  height: 40px !important;
  padding: 2px 0;
  a{
    color: white !important;
  }

  .dropdown-menu{
    background-color: $accent-color;

    a:hover{
      background-color: lighten($accent-color,8%);
    }
  }
}

.big-header{
  background-color: $primary-text-color;

  color: $primary-color-text;

  small{
    color: $secondary-text-color;
  }

  .btn-primary{
    background-color: $accent-color;
    border-radius: 0;
    border-color:$accent-color;

    &:focus{
      box-shadow: none;
    }
  }
}


.card-header{
  background-color: $accent-color;
  color: #ffff;
  padding: 7px;
}
.overview{
  .item{
    background-color: #e5e5e5;
    padding: 35px 15px;
  }
}

.list-group{
  .active{
    background-color: $accent-color;
    border: $accent-color;
  }
}
.article-form,.create-article{

  .alert{
    p{
      margin: 0 !important;
    }
  }
  label{
    font-weight: bold;
    color: darken(grey,15%);
  }
  .btn-primary{
    background-color: $accent-color;
    border-radius: 0;
    border-color: $accent-color;
  }

  .nxt-btn{
    padding-left: 30px;
    padding-right: 30px;
  }



  .upload-pane{
    border: solid 1px #e5e5e5;
    padding: 10px;
    margin: 10px 0;



    input[type='file']{
      display: none;
    }
  }
  .media-files {

    .add-media {
      position: relative;

      button {
        background: $divider-color;
        padding: 20px 30px;
        border: dashed 1px lighten(black, 50%);;
        color: lighten(black, 50%);
      }
    }

    .uploaded-media {
      width: 200px;
      margin: 5px;
      position: relative;
      .close-btn {
        position: absolute;
        top: -2px;
        right: -3px;
        padding: 1px 2px;
        background-color: red;
        border-radius: 40% 50%;
        color: white;
        cursor: pointer;
      }

      .img-description {
        font-size: 12px;
        width: 100%;

        padding: 1px 5px;
        border: solid 1px lightblue;
        border-radius: 1px;
      }
    }
  }
}



.create-article,.user-articles,.article-form{
  margin-bottom: 150px;
  font-size: 100%;
  .inner-wrapper{
    padding:0 !important;



    h3{
      font-family: "Archivo Black", sans-serif;
    }


    .pictures{

    }

    .upload-pane,#upload-pane{
      border: solid 1px #e5e5e5;
      padding: 10px;
      margin: 10px 0;



      input[type='file']{
        display: none !important;
      }
    }
    .media-files{


      .add-media{
        position: relative;

        button{
          background: $divider-color;
          padding: 20px 30px;
          border: dashed 1px  lighten(black,50%);;
          color: lighten(black,50%);
        }
      }

      .uploaded-media{
        width: 200px;
        margin: 5px;
        position: relative;
        .close-btn{
          position: absolute;
          top: -2px;
          right: -3px;
          padding: 1px 2px;
          background-color: red;
          border-radius:40% 50%;
          color: white;
          cursor: pointer;
        }

        .img-description{
          font-size: 12px;
          width: 100%;

          padding: 1px 5px;
          border: solid 1px lightblue;
          border-radius: 1px;
        }
      }
    }
  }
}

.form-wrapper{
  .form{
    -webkit-box-shadow: 0 0 2px grey ;
    -moz-box-shadow: 0 0 2px grey;
    box-shadow: 0 0 2px grey;

    padding: 20px;

    .btn{
      background-color: $accent-color;
      border-radius: 0;
      padding: 7px 25px;
      border-color: $accent-color;
    }
  }
}
footer{
  padding: 20px 10px;
  background: darken($accent-color,35%);
  color: $primary-color-text;
  a{
    color:$primary-color-text ;
  }
}

@media (max-width: 576px) {
  .navbar-default{
    height: auto !important;
    padding: 15px;
    a{
      color: white !important;
    }

    .dropdown-menu{
      background-color: $accent-color;

      a:hover{
        background-color: lighten($accent-color,8%);
      }
    }
  }
}