
$primary-color-dark:   #C2185B;
$primary-color:        #E91E63;
$primary-color-light:  #F8BBD0;
$primary-color-text:   #FFFFFF;
$accent-color:         #03A9F4;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;



@mixin  overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.7);
  z-index: 4000;
}


body{
  background-color: lighten(#e5e5e5,6%);
  overflow-x: hidden;
}
@mixin wrapper{

}


@font-face {
  font-family: "Archivo Black";
  src: url("../fonts/ArchivoBlack-Regular.otf");
}

h1,h2,h3,h4,h5,h6,p{
  padding: 0;
  margin: 0;
}

body,html{
  width: 100%;
  height: 100%;
}

main{
  height: 100%;
  width: 100%;
}

header{
  background: $primary-color;
  color: $primary-color-text;
  box-shadow: 0 0 5px grey;
  z-index: 3000;
  position: fixed;
  width: 100%;
 // padding: 8px 0;

  .logo{
    h1{
      font-size: 1.5em;
      line-height: 40px;
    }
  }

}

.form-wrapper{
  .form{
    box-shadow: 0 0 2px lighten($accent-color,20%);
    margin-top: 20%;

    .header{
      background-color: $accent-color;
      padding: 15px;

      p{
        font-weight: bold;
        font-size: 1.3em;
        color: white;
      }
    }

    .body{
      padding: 25px;
    }
  }
}
.sidebar{
  background-color: #ffffff;
  width: 230px;
  height: 100%;
  position: fixed;
  box-shadow: 0 0 5px grey;

  .links{
    margin-top: 100px;

    .active{
      background-color: $primary-color;
      box-shadow: 0 0 3px grey;
      color: white;
    }
    li{
      border-bottom: solid 1px lighten(black,90%);
    }

    a{
      padding: 10px 10px;
      display: block;
     
      text-decoration: none;
      color: lighten(black,40%);
      transition: background-color .3s;

      &:hover{
        background-color: $divider-color;
        color: #ffffff;
      }

    }
    span{
      margin-right: 20px;
    }
  }
}
main{
  padding-left: 235px;
  padding-top: 55px;
  min-height: 100%;
  max-width: 100%;

  .content{
    background-color: white;
    min-height: 100%;
    margin: 0px 25px;
    margin-top: 5px;
    box-shadow: 0 0 3px grey;
  }

  .page-header{
    background-color: $accent-color;
    color: white;
    padding: 10px;
  }
}


.article-form{
  margin: 50px;

  .btn-primary{
    background-color: $accent-color;
    border-radius: 0;
    border-color: $accent-color;
  }

  .nxt-btn{
    padding-left: 30px;
    padding-right: 30px;
  }



  .upload-pane{
    border: solid 1px #e5e5e5;
    padding: 10px;
    margin: 10px 0;



    input[type='file']{
      display: none;
    }
  }
  .media-files {

    .add-media {
      position: relative;

      button {
        background: $divider-color;
        padding: 20px 30px;
        border: dashed 1px lighten(black, 50%);;
        color: lighten(black, 50%);
      }
    }

    .uploaded-media {
      width: 200px;
      margin: 5px;
      position: relative;
      .close-btn {
        position: absolute;
        top: -2px;
        right: -3px;
        padding: 1px 2px;
        background-color: red;
        border-radius: 40% 50%;
        color: white;
        cursor: pointer;
      }

      .img-description {
        font-size: 12px;
        width: 100%;

        padding: 1px 5px;
        border: solid 1px lightblue;
        border-radius: 1px;
      }
    }
  }
}