
.def-text{
  color:  #03A9F4;
  cursor: pointer;
  &:hover{
    border-bottom: solid 1px ;
  }
}

.balloon-wrapper{
  position: absolute;
  top: 100px;
  //display: none;
  font-size: 90%;
  background-color: transparent;
  z-index: 40000;

  &:hover{
    display: block;
  }
}

.baloon{
  width: 250px;
  background-color: white;
  min-height: 50px;
  box-shadow: 0 0 3px black;
  font-family: sans-serif;
  padding: 10px;
  font-size: 80%;
  &:hover{
    display: block;
  }

  &:after{
    content: " ";
    border:solid 15px;
    width: 0px;
    position: absolute;
    left: 90px;
    top: -30px;
    border-color: transparent transparent black transparent;
    border-bottom: solid 15px;
    &:hover{
      display: block;
    }
  }

  &:before{
    content: " ";
    border:solid 15px;
    width: 0px;
    position: absolute;
    left: 90px;
    top: -29px;
    z-index: 20;
    border-color: transparent transparent white transparent;
    border-bottom: solid 15px white;
    &:hover{
      display: block;
    }
  }

  .link-view{
    // display: none;
    .header{
      overflow: hidden;
      .title{
        float: left;
        font-size: 1.4em !important;
      }


      }


    .link-item{
      border-top: solid 1px #e5e5e5;
      padding: 5px 0px;

      h4,p{
        margin: 5px;
        font-size: 140%;
      }
      a{
        text-decoration: none;
      }
      p{
        color: lighten(grey,11%);
        font-size: 100%;
      }
    }
  }

}

.socials{
  position: fixed;
  top: 30%;
  right: 0;
  box-shadow: 0 0 2px grey;
  padding: 5px;



  ul{
    list-style: none;
    padding: 0;
    margin: 0;

    li:hover{
      transition: 200ms;
      transform: scale(1.05);
    }

    .facebook{
      a{
        color:  #3B5998;
      }
    }

    .twitter{
      a{
        color:  #1DA1F2;
      }
    }

    .gplus{
      a{
        color: #CC3333;
      }
    }


    a{
      text-decoration: none;
      .fa{
        font-size: 3em;
      }
    }
  }

  @media (max-width: 576px) {
    top:unset;
    bottom: 0 !important;
    width: 100%;
    padding: 5px 8px;

    ul{
      display: flex;
      width: 100%;

      justify-content: space-between;
    }
  }
}