
.editor-modal{
  position:fixed;
  height: 100%;
  width: 100%;
  background-color: transparentize(grey,.8);
  top:0;
  left:0;
  z-index: 500;
  display: table;

  >div{

    display: table-cell;
    vertical-align: middle;
  }



  .c-modal-content{

    background-color: white;
    width: 400px !important;
    min-height: 300px;
    margin: auto;
    border: solid lightgrey 2px;
    box-shadow: 0 0 1px black;
    position: relative;

    .footer{
      background-color: lighten(grey,45%);
      position: absolute;
      bottom: 0;
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 8px;

      button{
        border-radius: 2px;
        border: solid 3px lighten(grey,35%);
        outline: none;
        padding: 2px 15px;
        cursor: pointer;
      }
    }





    .header{
      overflow: hidden;
      font-weight: bold;
      padding: 8px 0;
      background-color: lighten(grey,35%);
      box-shadow: 0 1px 1px -2px black;
      text-align: center;

      p{
        margin:0;
        padding:0;
      }
    }


    .body{
      max-height: 350px;
      min-height: 200px;

      overflow-y: scroll;
    }

    //.body{
      .tabs-btn{
        background:lighten(#e5e5e5,7%);
        padding: 8px 3px 0 3px;

        display: flex;
        align-items: stretch;
        width: 100%;


        button{
          padding: 8px;
          border: none;
          background-color: transparent;
          outline: none;
          font-weight: 500;
          font-size: 13px;
          cursor: pointer;
          border-radius: 5px 5px 0 0;
          display: block;
          flex: 1;
        }

        .active{
          background-color: white;
          border: solid 1px lighten(#9c9c9c,10%);
          border-bottom: none;
        }
      }
    @mixin searchInput(){
      width: 100%;
      padding: 3px;
      border-radius: 5px;
      outline: none;
      border: solid 1px #ccc;
      font-size: 14px;
      color: darken(grey,35%);
    }

      .tabs{




        #search-tab{
          .search-box{
            padding: 10px 5px;

            input{
             @include searchInput
            }
          }

          .search-result{
            *{text-align: left;}
            overflow-y: scroll;
            height: 200px;
            p{
              padding: 5px;
              margin: 0;
              border-top:solid 1px #eeeeee;

            }

            span{
              background: #e5e5e5;
              padding: 5px;
            }

            a{
              text-decoration: none;
            }
          }
        }

        #external-tab{
          display: none;
          label{
            font-size: 12px;
          }
          .link-box{
            padding: 10px 10px;
            text-align: left;

            input{
              @include searchInput
            }
          }
        }

        #definition-tab{
          display: none;
          padding: 10px 10px;
          text-align: left;
          textarea{
            display: block;
            outline: none;
            width: 100%;
            resize: none;
            border-radius: 5px;
            border:solid 1px darken(#e5e5e5,10%);
          }

          label{
            font-size: .8em;
            color:darken(#e5e5e5,55%);
          }
        }
      }



      #manual-tab{

          padding: 25px 8px 10px 8px;
          .mt-row{
            display: flex;
            justify-content: stretch;

            .col{
              flex: 1;

              button{
                display: block;
                margin: 10px 0;
                background-color: white;
                border: none;
                outline: none;
                cursor: pointer;

                span{
                  font-weight: 600;
                }
              }
            }
          }


        .web-pane,
        .book-pane,
        .news-pane,
        .journal-pane{
          display: none;
          padding-bottom: 45px;
        }
      }


      #automatic-tab{
        padding: 10px;
        text-align: left;
        display: none;

        label{
          font-size: 14px;
        }


        input{
          @include searchInput;
          border: solid 1px lighten(grey,10%);
          border-radius: 3px 0 0 3px ;
          border-right: none;

          &:focus{
            border: solid 2px skyblue;
          }

        }

        .auto-tab-input{
          display: flex;

          button{
              border: solid 1px lighten(grey,10%);
              background: lighten(grey,50%);
              outline: none;
              font-weight: 500;
              border-radius:0 3px   3px 0;
              padding: 5px;
          }

        }




      }

      #reuse-tab{
        display: none;
      }




  }
}


















































.editor-wrapper{
  font-size: 100%;
  width: 100%;
  margin: auto;
  position: relative;
  overflow-x: hidden;

  .text-wrapper{
    overflow-y:scroll;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .editor{
    border: solid #e5e5e5 1px;
    height: 200px;
    display: block;
    cursor: text;
    position: relative;
    overflow: hidden;


    .action-bar{
      border-bottom:  solid #dcdcdc 1px;
      position: absolute;
      width: 100%;
      background-color: white;
      z-index: 20;



      button{
        padding: 5px 10px;
        background:none;
        border: none;
        border-right: solid 1px rgba(229,229,229,.8);
        cursor: pointer;
        transition: background-color .3s;
        margin: 0 !important;

        &:hover{
          background-color: #e5e5e5;
        }

      }

    }

    .def-text{
      color:  #03A9F4;
      &:hover{
        border-bottom: solid 1px ;
      }
    }

    .text-area{
      position: relative;
      outline: none;
      min-width: 1%;
      min-height: 200px;
      padding: 8px;
      font-family: sans-serif;
      color:#3c3f41;
      padding-top: 40px;
     // display: inline;
      background-color: white;
     // overflow: scroll;
    }
  }
}


.balloon-wrapper{
  position: absolute;
  top: 100px;
  font-size: 90%;
}

.baloon{
  width: 350px;
  background-color: white;
  min-height: 50px;
  box-shadow: 0 0 3px black;
  font-family: sans-serif;
  padding: 10px;
  font-size: 80%;

  &:after{
    content: " ";
    border:solid 15px;
    width: 0px;
    position: absolute;
    left: 120px;
    top: -30px;
    border-color: transparent transparent black transparent;
    border-bottom: solid 15px;
  }

  &:before{
    content: " ";
    border:solid 15px;
    width: 0px;
    position: absolute;
    left: 120px;
    top: -29px;
    z-index: 20;
    border-color: transparent transparent white transparent;
    border-bottom: solid 15px white;
  }

  .link-view{
   // display: none;
    .header{
      overflow: hidden;
      .title{
        float: left;
        font-size: 1.5em !important;
      }

      .buttons{
        float: right;

        button{
          background: white;
          border: solid 1px darken( #e5e5e5,15%);
          padding: 8px 15px;
          font-size: 1em;
          margin: 0;
          cursor: pointer;
          &:hover{
            background-color:#e5e5e5;
          }
          &:first-child{
            border-right: none;
            margin-top: 0px;
          }
          span{
            font-size: 1em;
            padding: 0 !important;
            margin: 0 !important;
            color: red;
          }
        }
      }
    }

    .link-item{
      border-bottom: solid 1px #e5e5e5;
      border-top: solid 1px #e5e5e5;
      padding: 5px 0px;

      h4,p{
        margin: 5px;
        font-size: 160%;
      }
      a{
        text-decoration: none;
      }
      p{
        color: lighten(grey,11%);
        font-size: 110%;
      }
    }
  }

  //.link-edit{
  //  display: none;
  //  .header{
  //    overflow: hidden;
  //    font-weight: bold;
  //    div{
  //      float: left;
  //    }
  //
  //    .center{
  //      width: 38%;
  //      text-align: center;
  //      p{
  //        margin: 0px;
  //      }
  //    }
  //
  //    button{
  //      padding: 8px 25px;
  //      margin: 2px 8px;
  //      background: white;
  //      border: solid 1px #e5e5e5;
  //      font-weight: bold;
  //    }
  //  }
  //
  //  .body{
  //    .tabs-btn{
  //      background: #e5e5e5;
  //      padding: 8px 8px 0 8px;
  //
  //
  //      button{
  //        padding: 8px;
  //        border: none;
  //        background-color: transparent;
  //        font-weight: bold;
  //        cursor: pointer;
  //        border-radius: 5px 5px 0 0;
  //      }
  //
  //      .active{
  //        background-color: white;
  //        border: solid 1px lighten(#9c9c9c,10%);
  //        border-bottom: none;
  //      }
  //    }
  //
  //    .tabs{
  //      #search-tab{
  //        .search-box{
  //          padding: 10px 0;
  //
  //          input{
  //            width: 100%;
  //            padding: 5px;
  //            border-radius: 5px;
  //            border: solid 2px #ccc;
  //          }
  //        }
  //
  //        .search-result{
  //          p{
  //            padding: 5px;
  //            margin: 0;
  //            border-top:solid 1px #eeeeee;
  //          }
  //
  //          span{
  //            background: #e5e5e5;
  //            padding: 5px;
  //          }
  //
  //          a{
  //            text-decoration: none;
  //          }
  //        }
  //      }
  //
  //      #external-tab{
  //        display: none;
  //        .link-box{
  //          padding: 10px 0;
  //
  //          input{
  //            width: 95%;
  //            padding: 5px;
  //            border-radius: 5px;
  //            border: solid 2px #ccc;
  //          }
  //        }
  //      }
  //
  //      #definition-tab{
  //        display: none;
  //        textarea{
  //          display: block;
  //          width: 100%;
  //          resize: none;
  //          border-radius: 5px;
  //          border:solid 1px darken(#e5e5e5,10%);
  //        }
  //
  //        label{
  //          font-size: .8em;
  //          color:darken(#e5e5e5,55%);
  //        }
  //      }
  //    }
  //  }
  //}


}