

$primary-color-dark:    #3b4348;
$primary-color:         #3b4348;
$primary-color-light:  #F8BBD0;
$primary-color-text:   #FFFFFF;
$accent-color:         #03A9F4;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


@mixin  overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.7);
  z-index: 100;
}


body,html{
  background-color: lighten(#e5e5e5,6%);
  height: 100%;
  width: 100%;
}


.owl-wrapper-outer {
  height: 100% !important;
}

.owl-wrapper {
  height: 100% !important;
}

.owl-item,.owl-stage,.owl-stage-outer{
  height: 100% !important;
}

.b-Amarelo {
  height: 100% !important;
}



.owl-item h1 {
  margin: 0;
}


@font-face {
  font-family: "Archivo Black";
  src: url("../fonts/ArchivoBlack-Regular.otf");
}

h1,h2,h3,h4,h5,h6,p{
  padding: 0;
  margin: 0;
}

body,html{
  width: 100%;
  min-height: 100%;


  .translate{
    position: fixed;
    bottom: 0;
    right: 0;
    background: white;
    padding: 20px;
    box-shadow: 0 0 1px grey;


    @media (max-width: 576px) {
      //width: 100%;
      //bottom: 55px;

      //.goog-te-gadget-simple{
      //  width: 100%;
      //}
    }
  }
}

main{
  min-height: 100%;
  width: 100%;
  clear: both;
}

header{
  .bg-light{
    background-color: $primary-color !important;
    //padding: 10px 0;
  }

  .navbar-nav{

    a{
      font-size: 15px;
    }
  }


}

//.jumbotron{
//  border-radius: 0;
//  padding-top: 25px;
//  color: white;
//  background: url("../images/main-bg.jpg");
//  background-size: cover;
//
//
//  .search{
//
//    input{
//      display: block;
//      width: 100%;
//      margin-bottom: 0;
//      border: none;
//      &:focus{
//        outline: none;
//      }
//
//    }
//
//
//
//    .twitter-typeahead{
//      width: 100%;
//
//      .tt-open{
//        background-color: transparentize(#ffffff,.2);
//        width: 100%;
//        padding: 8px;
//        margin-top: 0px;
//        -webkit-box-shadow: 0 0 2px black;
//        -moz-box-shadow: 0 0 2px black;
//        box-shadow: 0 0 3px black;
//        text-align: left;
//
//      }
//
//      .s-item{
//        a{
//          display: block;
//          padding: 3px;
//          color: darken(grey,25%);
//          border-bottom: solid 1px #e5e5e5;
//          text-decoration: none;
//          font-size: 1.3em;
//
//        }
//        &:last-child{
//          a{
//            border-bottom: none;
//          }
//        }
//      }
//    }
//  }
//
//  .big-text{
//    font-family: "Open Sans", sans-serif;
//    font-weight: 700;
//  }
//
//
//  input,button{
//    border-radius: 0;
//  }
//
//  .btn-primary{
//    background-color: $primary-color;
//    border-color: $primary-color;
//    outline:none;
//    font-size: 14px;
//    font-weight: 700;
//    padding: 12px 24px;
//
//    &:focus{
//      background-color: lighten($primary-color,15%) !important;
//      border-color: $primary-color !important;
//      box-shadow: none !important;
//
//    }
//
//
//
//  }
//
//  .form{
//    width: 78%;
//
//    input{
//      font-size: 15px;
//      padding:12px 10px ;
//
//
//      &:focus{
//        outline: none;
//        box-shadow: none;
//        border: none;
//      }
//    }
//  }
//}




.contents{
  .wrapper{
    width: 88% !important;
    margin: auto;

    @media (max-width: 576px){
      width: 100% !important;
    }
  }

  .row{
    padding: 0;
    margin: 0;
  }
}

.sign-in{

  .btn-primary{
    background-color: $primary-color;
    border: none;
    border-radius: 0;
    &:focus{
      background-color: lighten($primary-color,10%) !important;
      outline: none !important;
      box-shadow: none !important;
    }
  }
}


.quick-links{
  .card-title{
    font-weight: bolder;
  }
  a{
    padding-top: 15px !important;
    display: block;

    color: darken(darkgrey,30%);
  }
}
.s-title{
  color: $primary-color;
}

.articles{


  .article{
    border-bottom: solid 1px #e2e3e5;
    padding: 10px 5px;
    .a-title{
      font-size: 14px;
      font-weight: 600;
      color: $primary-color;

      .fa{
        font-size: 90%;
      }
    }

    .meta-data{

      p{
        font-size: 14px;
        font-weight: 400;
        padding: 0;
        margin: 0;
        color: lighten($primary-color,10%)
      }
    }

  }
}
























.subheader{
  background: #e6e6e6;
  .sub-wrapper{
    padding: 25px 5px;
    .text{
      color: slategrey;
    }

    .search{
      //float: right;
     width: 30%;

      input{
        background-image:url("../images/search.png");
        background-repeat: no-repeat;
        background-position: 5px  5px;
        padding: 5px;
        padding-left:33px;
        border-radius:15px;
        width: 100%;
        border: solid darkgrey 1px;
        background-color:white;
        color: grey;
        font-size: .9em;
        &:focus{
          outline: none;
        }
      }
    }



    .twitter-typeahead{
      width: 100%;

      .tt-open{
        background-color: #ffffff;
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        -webkit-box-shadow: 0 0 5px black;
        -moz-box-shadow: 0 0 5px black;
        box-shadow: 0 0 3px black;
      }

      .s-item{
        a{
          display: block;
          padding: 3px;
          color: darken(grey,25%);
          border-bottom: solid 1px #e5e5e5;
          text-decoration: none;
        }
        &:last-child{
          a{
            border-bottom: none;
          }
        }
      }
    }
  }


  
}




.nav{
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 5000;

  nav{
    width: 130px;
    .wrapper{
      position: relative;

      ul{
        width: 100%;
        position: absolute;
        top: 55px;
        right: 10px;
        background-color: $accent-color;
        border-radius: 5px;
        display: none;

        li a{
          display: block;
          padding: 8px;
          color: $primary-color-text;
          text-decoration: none;
          &:hover{
            background-color: $primary-color;
          }
        }
      }
      &:hover ul{
        display: block;
      }

      button{
        background: $primary-color;
        border: none;
        padding: 5px 8px;
        color: $primary-color-text;
        position: absolute;
        right: 10px;
        top: 10px;
        transition: background-color .3s linear;

        &:hover{
          background: $accent-color;
        }
      }
    }
  }
}

.main{
  min-height: 100%;
  width: 100%;
}



.home-banner{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;

  .slider{
   position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    .owl-carousel{
      width: 100% !important;
      height: 100vh !important;
    }

    .slide{
      height: 100%;
      width: 100%;

      background-position: center;
      background-repeat: no-repeat;
      -ms-background-position-x: 0;
      -ms-background-position-y: 0;
      background-position-x: 0;
      background-position-y: 0;
      background-size: cover;
    }

    .slide1{
      background-image: url("../images/slide (1).jpg");
    }
    .slide2{
      background-image: url("../images/slide (2).jpg");
    }

    .slide3{
      background-image: url("../images/slide (3).jpg");
    }
    .slide4{
      background-image: url("../images/slide (4).jpg");
    }

    .slide5{
      background-image: url("../images/slide (5).jpg");
    }



  }
  .overlay{
    @include overlay;
  }


  .wrapper{
    width: 100%;
    padding-top:10%;
    color: $accent-color;

    @media (max-width: 576px){
      padding-top:20%;
    }

    h1{
      font-size: 3.5em;
      color: $divider-color;

      @media (max-width: 576px){
          font-size: 2em;
      }
    }

    p{
      font-size: 1.3em;
    }

    .title{
      color: $divider-color;
    }

  }

  .search{
    input{
      display: block;
      width: 100%;
      margin: 10px 10px;
      border: none;
      background-color: lighten($accent-color,45);
      border-bottom: solid $primary-color;
      padding: 8px;
      font-size: 1.1em;
      @media (max-width: 576px){
        margin: 15px 0px;
      }
      &:focus{
        outline: none;
      }

      margin-bottom: 0;

    }

    button{
      padding: 10px 25px;
      font-size: 1.1em;
      border-radius: 0px;
      background: $primary-color-dark;
      border: none;
      color: white;

    }


  }


  .twitter-typeahead{
    width: 100%;
    padding: 0 !important;

    .tt-open{
      background-color: transparentize(#ffffff,.2);
      width: 100%;
      padding: 8px;

      -webkit-box-shadow: 0 0 5px black;
      -moz-box-shadow: 0 0 5px black;
      box-shadow: 0 0 3px black;
      text-align: left;
      margin: 0px 10px;
    }

    .s-item{
      a{
        display: block;
        padding: 3px;
        color: darken(grey,25%);
        border-bottom: solid 1px #e5e5e5;
        text-decoration: none;
        font-size: 1.3em;

      }
      &:last-child{
        a{
          border-bottom: none;
        }
      }
    }
  }

}




























.content{
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

//article



.article-title{
  padding: 10px;
  .container{
    width: 83.5%;
    padding: 15px;
    background: #e6e6e6;
  }
}
  .main-content{
    .container{
      display: flex;
    }
    aside{
      height: 100%;
    }


    .sidebar{
      background-color:  #e6e6e6;
      padding-top: 25px;
      width: 230px;
      border-top:solid white;
      ul{
        padding-top: 20px;
      }

     li a{
       display: block;
       padding: 5px 16px;
       color: #595959;
       border-bottom: solid 1px #cccccc;
       text-decoration: none;
       font-size: 90%;
       &:hover{
         background-color: #d9d9d9;
       }
     }
    }
    article {
        padding-left: 20px;
    div{
        margin-bottom: 30px;
        h3{
          font-size: 1.3em;
        }

      p{
        font-size: 95%;
      }
      }
    }

    .shift-left{
      padding-left: 260px !important;
    }


    .fixed{
      position: fixed;
      top: 0;
      z-index: 5;
    }

  }

  article small{
    font-size: .6em;
  }


.articles{
  .inner-wrapper{
    width: 70%;
    margin: auto;
  }

  .article{
    margin: 35px  0;
    h1{
      padding: 0;
      margin: 0;
    a{
      font-family: "Archivo Black", sans-serif;
      font-weight: bold;
      font-size: .8em;
      padding: 0 !important;
      margin: 0;
      text-decoration: none;
      color: #000;
      transition: color .3s;

      &:hover{
        color: $primary-color;
      }
    }
    }

    .heading{
      .meta{
        padding-top: 20px;
        margin: 0 !important;
        color: grey;
      }
    }

    .btn-outline-primary{
      border-color: $primary-color !important;
      color: $primary-color;
      text-transform: uppercase;

      &:hover{
        background-color: $primary-color;
        color: #fff;
      }

    }
  }

  .excerpt{
    padding-top: 30px;
    color: lightslategrey;
  }
}

.create-article,.user-articles{
  font-size: 100%;
  .inner-wrapper{
    padding:0 !important;
    width: 70%;
    margin:  10px auto!important;
    color: black;


   h3{
     font-family: "Archivo Black", sans-serif;
   }


    .pictures{

    }

    .upload-pane,#upload-pane{
      border: solid 1px #e5e5e5;
      padding: 10px;
      margin: 10px 0;



      input[type='file']{
        display: none !important;
      }
    }
    .media-files{


      .add-media{
        position: relative;

        button{
          background: $divider-color;
          padding: 20px 30px;
          border: dashed 1px  lighten(black,50%);;
          color: lighten(black,50%);
        }
      }

      .uploaded-media{
        width: 200px;
        margin: 5px;
        position: relative;
        .close-btn{
          position: absolute;
          top: -2px;
          right: -3px;
          padding: 1px 2px;
          background-color: red;
          border-radius:40% 50%;
          color: white;
          cursor: pointer;
        }

        .img-description{
            font-size: 12px;
            width: 100%;

           padding: 1px 5px;
           border: solid 1px lightblue;
          border-radius: 1px;
        }
      }
    }
  }
}


.user-articles{
 .articles{
   background-color: white;
   .article{
     //border-bottom: solid 1px $divider-color;
     padding: 18px 15px;
     background-color: lighten($divider-color,20%);
     margin: 8px 0;
     border-bottom: solid 8px $accent-color;
     box-sizing: border-box;
     box-shadow: 0 0 8px lighten(grey,30%);

     p{
       font-size: 1.1em;
       color: lighten(black,30%);
     }

     .actions{
       display: flex;
     }
   }
 }
}

.form-wrapper{
  width: 80%;
  margin: auto;
}

@media (max-width: 576px) {
  header{
    padding:0;
    .container{
      padding: 0;
    }
  }

  .subheader{
    background-color: transparent;
    padding: 0;

    .container{
      padding: 0;
      margin: 0;
    }
  }
  .sub-wrapper{

    padding: 0 !important;
    margin: 0 !important;
    .search{
      width: 100% !important;
      background: #e6e6e6;
      padding: 25px 15px;
      margin-bottom: 5px;
    }
    .text{
      background: #e6e6e6;
      padding: 15px 15px;
      margin-bottom: 3px;
    }
  }

    .links{
      width: 100%;
      //display: none;


    }
    .logo{
      border-bottom: solid 1px ;
    }
    .menu-icon{
      span{
        font-size: 2em;
        border: solid 1px;
        padding: 5px 8px;
      }
    }
    ul{
      display: block;
      li{
        display: block !important;
        float: none !important;
        a{
          display: block;
          //border-bottom: solid .1px;
          width: 100%;
        }
      }
    }






























  .articles{
    .inner-wrapper{
      width: 100%;
      padding: 5px 10px;
    }
    .article{
      margin: 35px  0;
      width: 100%;
      overflow-x: hidden;
      h1{
        padding: 0;
        margin: 0;
        font-size: 190%;
        a{
          font-family: "Archivo Black", sans-serif;
          font-weight: bold;
          font-size: .8em;
          padding: 0 !important;
          margin: 0;
          text-decoration: none;
          color: #000;
          transition: color .3s;

          &:hover{
            color: $primary-color;
          }
        }
      }

      .heading{
        .meta{
          padding-top: 20px;
          margin: 0 !important;
          color: grey;
        }
      }

      .btn-outline-primary{
        border-color: $primary-color !important;
        color: $primary-color;
        text-transform: uppercase;

        &:hover{
          background-color: $primary-color;
          color: #fff;
        }

      }
    }

    .excerpt{
      padding-top: 30px;
      color: lightslategrey;
    }
  }

  .article-title{
    padding: 10px 0;
    .container{
      width: 100%;
      padding: 15px;
      background: #e6e6e6;
    }

    h3{
      font-size: 125%;
    }
  }

  .main-content{
    .container{
      display: flex;
      flex-direction: column;
    }
    aside{
      height: 100%;
    }


    .sidebar{
      background-color:  transparent;
      padding-top: 25px;
      width: 100%;
      border-top:none;
      ul{
        padding-top: 20px;
      }

      li a{
        display: block;
        padding: 5px 16px;
        color: $accent-color;
        border-bottom: none;
        text-decoration: none;
        font-size: 90%;
        &:hover{
          background-color: #d9d9d9;
        }
      }
    }
    article {
      padding-left: 5px;
      div{
        margin-bottom: 30px;
        h3{
          font-size: 1.3em;
        }

        p{
          font-size: 95%;
        }
      }
    }

    .shift-left{
      padding-left: 5px !important;
    }


    .fixed{
      position: relative;
      top: 0;
    }

  }

}

footer{
  padding: 20px 10px;
  background: darken($primary-color,35%);
  color: $primary-color-text;
  z-index: 500000;
  @media (max-width: 576px){
    margin-bottom: 50px;
  }

  a{
    color:$primary-color-text ;
  }

  a{
    text-decoration: none !important;
    &:hover{
      color: grey !important;
    }
  }
}


.home-articles{


  .article{
    border-bottom: solid 1px #e2e3e5;
    padding: 10px 5px;
    padding-bottom: 0px;
    .a-title{
      font-size: 14px;
      font-weight: 600;
      color: $primary-color;

      .fa{
        font-size: 90%;
      }
    }

    //@media (max-width: 576px) {
    //  border-bottom: .2px !important;
    //}

    .meta-data{

      p{
        font-size: 14px;
        font-weight: 400;
        padding: 0;
        margin: 0;
        color: lighten($primary-color,10%)
      }
    }

  }
}